* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(image/about_me_back1.jpg) no-repeat center center/cover;
    /* backdrop-filter: blur(10px); */
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.head{
    background-color: rgb(6, 51, 9);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headline{
    color: white;
    font-size: 1.7rem;
    
}
.headline > .col{
   color: blueviolet;
   font-size: 2.5rem;
   word-spacing: 12px;

}

.right-section img{
    height: 50vh;
    border-radius: 49% 51% 50% 50% / 51% 52% 48% 49% ;
}

.left-section{
    color: floralwhite;
    font-size: 1.1rem;
    margin: 10px;
    width: 50%;
}

button{
    margin: 15px;
    padding: 10px;
    background-color: rgb(125, 242, 189);
    border-radius: 50%;
    width: 100vw;
    /* position: relative;
    top: 110px;
    left: 2%;
    */
}
button a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: cursive;
}